* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: rgb(40, 42, 53);
  color: rgb(255, 244, 163);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: -10rem;
}
.countdown-container {
  display: flex;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}
.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 1.3rem;
}

@media screen and (max-width:800px){
  .big-text{
    font-size: 1rem;
  }
  h1{
    font-size: 3rem;
  }
}
